.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Fira Sans", "Sans";
  color: #78909c;
  background: #D2A9FF;
  background: -webkit-linear-gradient(bottom left, #D2A9FF, #FF8787);
  background: -moz-linear-gradient(bottom left, #D2A9FF, #FF8787);
  background: linear-gradient(to top right, #D2A9FF, #FF8787);
}